/* Global attributes and variables */
* {
    font-family: sans-serif;
    box-sizing: border-box;
}
:root {
    --gradientLeft: black;
    --gradientRight: #228B22;
    --grey: #e5e5e5;
    --fontColor: White;
    --fontWeight: 600;
}

/* header */
header {
    display: flex;
    justify-content: center;
    background: linear-gradient(160deg, var(--gradientLeft), var(--gradientRight));
    padding: 10px;
}
/* h tag styling */
h1,h2,h3 {
    font-weight: var(--fontWeight);
    margin: 0px;
    color: var(--fontColor);
}
h1 { /* title: Bike Trails */
    font-size: 200%;
}
h2 {/* error display*/
    font-size: 180%;
    color: var(--gradientLeft);
}
h3 { /* weather data*/
    font-size: 150%;
    margin-top: 10px;
}

/* left hand column */
.searchBox {
    padding: 5px;
    width: 25%;
}
#previous-search {
    border-top: solid black 2px;
    margin: 10px;
    padding: 10px;
}

.btn { /* All clickable buttons defaults*/
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
}

/* right hand column */
.borderWeatherBox {
    display: flex;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.scrollbar {
    overflow: auto;
    white-space: nowrap;
}
.sevenDays {
    display: flex;
}
.sevenDays div {
    background: linear-gradient(200deg, var(--gradientLeft), var(--gradientRight));
    border-radius: 15px;
    color: var(--fontColor);
    width: 180px;
    margin-left: 17px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
}
.icon {
    width: 50px;
}
.card{
    background: linear-gradient(160deg, var(--gradientLeft), var(--gradientRight));
    border-radius: 20px;
    color: var(--fontColor);
}
#error{
    padding: 20px;
    margin-left: 20px;
}

/* Modal Content */
.modal { 
    display:block;
    width: 50%;
    background-color: rgba(0,0,0,0.3);
}
.modal1{
    display: none;
    flex-direction: column;
}
.modal2{
    display: none;
    flex-direction: column;
}
*.modal-header{
    background-color: coral;
    display:flex;
    justify-content: space-evenly;
}
*.modal h3{
    margin:auto;
}
*.modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 0px;
    border: 1px solid #888;
  }
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right; 
    font-size: 30px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } 

/* MOBILE VIEW */
@media only screen and (max-width: 320px) {
input {
    display: flex;
    flex-direction: column;
}
}
