/* Global attributes and variables */
* {
    font-family: sans-serif;
    box-sizing: border-box;
}
:root {
    --gradientLeft: white;
    --gradientRight: green;
    --button: darkgray;
    --fontWeight: 600;
    --fontColor: black;
}

/* header */
header {
    display: flex;
    justify-content: center;
    background: linear-gradient(150deg, var(--gradientLeft), var(--gradientRight));
    padding: 5px;
}
img {
height: 50px;
}

/* h tag styling */
h1,h2,h3,h4 {
    font-weight: var(--fontWeight);
    color: var(--fontColor);
}
h1 { /* title: Bike Trails */
    color: var(--fontColor);
    font-size: 200%;
    padding-top: 10px;
}
h2 {/* 'search for a city' and see js code under id=currentWeatherBox*/
    font-size: 180%;
}
h3 { /* the words '5-day forecast'*/
    font-size: 150%;
    margin-top: 10px;
}
h4 { /* the 5 populated dates under 5 day forecast*/
    font-size: 130%;
}

/* Classes styling */
.mainRow { /* Overall container for everything within the main tags */
    display: flex;
    margin-left: 5px;
}

/* left hand column */
.searchBox {
    padding: 5px;
    width: 25%;
}
#searchInput{
    width: 100%;
}
#searchBtn {
    background-color: var(--gradientLeft);
    color: var(--fontColor);
    margin: 15px 0;
}
#clearBtn {
    background-color: var(--gradientRight);
    color: white;
    margin: 15px 0;

}
#previousSearch {
    border-top: solid black 2px;
}

.btn { /* All clickable buttons defaults*/
    background-color: var(--button);
    width: 100%;
    margin: 5px 0;
}

/* right hand column */
.currentWeatherBox {
    display: flex;
    justify-content: flex-start;
    border: solid black 1px;
    padding: 5px;
}
#error{
    padding: 20px;
    margin-left: 20px;
}
#weatherDisplay {
    width: 75%;
    padding: 10px;
}

.currentWeatherStyling{
    background: linear-gradient(200deg, var(--gradientLeft), var(--gradientRight));
    color: white;
    width: 180px;
    margin-left: 15px;
    padding: 5px;
}
.sixDays {
    display: flex;
}
.sixDays div {
    background: linear-gradient(200deg, var(--gradientLeft), var(--gradientRight));
    color: white;
    width: 180px;
    margin-left: 20px;
    padding: 5px; 
}
.icon {
    width: 50px;
}
